* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid: 1fr 4fr / 1fr 4fr;
}

.sidebar {
  background-color: #f74843;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 50px;
  padding: 20px;
  font-size: 1.3rem;
}

.sidebar > .nav {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 50px;
}

.sidebar > .branding {
  font-size: 1.8rem;
}

.branding,
.top > div,
.bottom > div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.branding svg {
  width: 2.5rem;
}

.nav svg {
  width: 1.3rem;
}

.sidebar svg {
  fill: white;
}

.sidebar div {
  color: white;
}

.header {
  background-color: white;
  display: grid;
  grid: 1fr 2fr / 1.5fr 1fr;
  padding: 20px 30px;
}

.main-content {
  background-color: #E2E8F0;
  display: grid;
  grid: 1fr 1fr / 2.5fr 1fr;
  padding: 30px 30px 50px 20px;
}

a {
  text-decoration: none;
  color: white;
}