* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid: 1fr 4fr / 1fr 4fr;
}

.sidebar {
  background-color: #f74843;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  padding: 20px;
}

.sidebar > .nav {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.branding,
.top > div,
.bottom > div {
  margin-bottom: 10px;
}

.sidebar div {
  color: white;
}

.header {
  background-color: white;
  display: grid;
  grid: 1fr 2fr / 1.5fr 1fr;
  padding: 20px 30px;
}

.main-content {
  background-color: #E2E8F0;
  display: grid;
  grid: 1fr 1fr / 2.5fr 1fr;
  padding: 30px 30px 50px 20px;
}